

body {
    /* background-color: #eaf6f6; */
}
h1 {
    color: #66bfbf; 
}
h3 {
    color: #66bfbf;
}

hr {
    border-style: none;border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

/* Full-screen background video */
.video-container {
    position: fixed; /* Fix the video in place */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide anything outside the container */
    z-index: -1; /* Make sure the video is behind other content */
  }
  
  /* Video styling */
  .background-video {
    position: absolute;
    opacity: 0.1;
    filter: blur(5px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Make the video full width */
    /* height: 100%; Make the video full height */
    object-fit: cover; /* Make sure the video covers the entire area */
    min-width: 100vw; /* Ensure it stretches enough horizontally */
    min-height: 100vh; /* Ensure it stretches enough vertically */
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
  }

  .profile-image {
    height: 25vh;
    width: 25vh;
  }