

body {
    /* background-color: #eaf6f6; */
}
h1 {
    color: #66bfbf; 
}

.splash {
  font-family: "Playwrite CA", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  animation: fadeIn 4s;
}

h3 {
    color: #66bfbf;
}

hr {
    border-style: none;border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

/* Full-screen background video */
.video-container {
    position: fixed; /* Fix the video in place */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide anything outside the container */
    z-index: -1; /* Make sure the video is behind other content */
  }
  
  /* Video styling */
  .background-video {
    position: absolute;
    opacity: 0.1;
    filter: blur(5px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Make the video full width */
    /* height: 100%; Make the video full height */
    object-fit: cover; /* Make sure the video covers the entire area */
    min-width: 100vw; /* Ensure it stretches enough horizontally */
    min-height: 100vh; /* Ensure it stretches enough vertically */
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
  }

  .profile-image {
    height: 25vh;
    width: 25vh;
  }

  /*Header Bar Styling*/
  .container {
    width: 80%;
    margin: 0 auto;
  }

  /* header {
    background: 
  } */

  header::after { 
    content: ' ';
    display: table;
    clear: both;
  }

  .logo {
    float: left;
    height: 25vh;
    width: 25vh;
  }

  nav {
    float: right;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 50px;

  }

  nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 350;
  }

  nav a:hover {
    color: #000000;
    text-decoration: none;
  }

  /* Fade In Text */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* Photo Styling */
.photo-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

  .photo-container img {
    width: 300px;
    height:auto;
  }

  .photo-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .photo-container li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 50px;
  }